<h2>List of all users</h2>
<div class="container">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
            <th>Phone Number</th>
            <th>User Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td> {{ user.username }} </td>
            <td> {{ user.email }} </td>
            <td> {{ user.password_hash }} </td>
            <td> {{ user.phone_number }} </td>
            <td>
                <button (click) ="updateUser(user.user_id)" class="btn btn-primary">Update</button>
            </td>
            <td>
                <button (click) ="deleteUser(user.user_id)" class="btn btn-primary">Delete</button>
            </td>

        </tr>
    </tbody>
</table>
</div>